# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.sw?

# Env
.env
.env.*
!.env.example
